#
#
# Buzzer Setup
#
# Change [PRINTER_IP] to your printers IP address
# [gcode_shell_command buzzer_beep]
# command: /bin/sh -c 'echo "$0 $1" | socat - TCP:[PRINTER_IP]:7777'
# timeout: 5.0
# verbose: False
#
#

[gcode_macro M300]
description: Tone via Kobra S1 built-in buzzer
gcode:
    {% set S = params.S|default(1000)|int %}
    {% set P = params.P|default(100)|int %}
    {% if S > 0 %}
        RUN_SHELL_COMMAND CMD=buzzer_beep PARAMS="{S} {P}"
    {% else %}
        G4 P{P}
    {% endif %}


[gcode_shell_command buzzer_beep]
command: /bin/sh -c 'echo "$0 $1" | socat - TCP:192.168.1.15:7777'
timeout: 5.0
verbose: False


#
#
# Buzzer Tunes
#
#

[gcode_macro TUNE_PRINT_DONE]
gcode:
    M300 S880 P150
    M300 S0 P50
    M300 S880 P150
    M300 S0 P50
    M300 S1760 P350

[gcode_macro TUNE_PRINT_FAILED]
gcode:
    M300 S1000 P250
    M300 S0 P50
    M300 S800 P250
    M300 S0 P50
    M300 S600 P500

[gcode_macro TUNE_BEEP]
gcode:
    M300 S1000 P100

[gcode_macro TUNE_READY]
gcode:
    M300 S440 P150
    M300 S0 P50
    M300 S880 P150